## Arithmetic Operators in Python

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, division, etc.

| **Operator** | **Name**           | **Example**              |
|--------------|--------------------|--------------------------|
| `+`          | Addition           | `5 + 3` → `8`           |
| `-`          | Subtraction        | `5 - 3` → `2`           |
| `*`          | Multiplication     | `5 * 3` → `15`          |
| `/`          | Division           | `5 / 2` → `2.5`         |
| `//`         | Floor Division     | `5 // 2` → `2`          |
| `%`          | Modulus (Remainder)| `5 % 2` → `1`           |
| `**`         | Exponentiation     | `5 ** 3` → `125`        |

### Integers

In [4]:
print('Addition: ', 1 + 2)

Addition:  3

In [5]:
print('Subtraction: ', 2 - 1)

Subtraction:  1

In [6]:
print('Multiplication: ', 2 * 3)

Multiplication:  6

In [7]:
print ('Division: ', 4 / 2)                         # Division in python gives floating number

Division:  2.0

In [8]:
print('Division: ', 6 / 2)

Division:  3.0

In [9]:
print('Division: ', 7 / 2)

Division:  3.5

In [10]:
print('Division without the remainder: ', 7 // 2)   # gives without the floating number or without the remaining

Division without the remainder:  3

In [11]:
print('Modulus: ', 3 % 2)                           # Gives the remainder

Modulus:  1

In [12]:
print ('Division without the remainder: ', 7 // 3)

Division without the remainder:  2

In [13]:
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

Exponential:  9

### Floating numbers

In [16]:
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

Floating Number,PI 3.14
Floating Number, gravity 9.81

### Complex numbers

In [19]:
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

Complex number:  (1+1j)
Multiplying complex number:  (2+0j)

In [21]:
# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

In [22]:
# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

##### I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions

In [24]:
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [26]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

In [27]:
# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [29]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [31]:
# Calculating area of a circle
radius = 17                                # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 907.46

In [33]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [35]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

## Comparison Operators
In programming we compare values, we use comparison operators to compare two values. We check if a value is greater or less or equal to other value.

### Comparison Operators in Python

Comparison operators are used to compare two values and return a boolean (`True` or `False`) based on the result.

| **Operator** | **Name**           | **Example**              |
|--------------|--------------------|--------------------------|
| `==`         | Equal to           | `5 == 5` → `True`       |
| `!=`         | Not equal to       | `5 != 3` → `True`       |
| `>`          | Greater than       | `7 > 5` → `True`        |
| `<`          | Less than          | `3 < 5` → `True`        |
| `>=`         | Greater than or equal to | `5 >= 5` → `True`   |
| `<=`         | Less than or equal to    | `3 <= 5` → `True`   |

In [39]:
# Example of comparison operators
x = 10
y = 20

print(x == y)   # False, because 10 is not equal to 20
print(x != y)   # True, because 10 is not equal to 20
print(x > y)    # False, because 10 is not greater than 20
print(x < y)    # True, because 10 is less than 20
print(x >= 10)  # True, because 10 is equal to 10
print(x <= 5)   # False, because 10 is not less than or equal to 5

False
True
False
True
True
False

# Additional Comparison Operators in Python

In addition to the standard comparison operators, Python provides additional operators for identity and membership checks:

| **Operator** | **Name**          | **Description**                                                   | **Example**                        |
|--------------|-------------------|-------------------------------------------------------------------|------------------------------------|
| `is`         | Identity          | Returns `True` if both variables are the same object             | `x is y` → `True`                 |
| `is not`     | Negated Identity  | Returns `True` if both variables are not the same object         | `x is not y` → `True`             |
| `in`         | Membership        | Returns `True` if the queried list contains a certain item       | `x in y` → `True`                 |
| `not in`     | Negated Membership| Returns `True` if the queried list does not contain a certain item | `x not in y` → `True`     because 50 is not in the list

In [42]:
# Example for 'is' and 'is not'
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)     # True, because 'b' is the same object as 'a'
print(a is c)     # False, because 'c' is a different object with the same content
print(a is not c) # True, because 'a' and 'c' are not the same object

True
False
True

In [43]:
# Example for 'in' and 'not in'
my_list = [10, 20, 30, 40]

print(20 in my_list)       # True, because 20 is in the list
print(50 in my_list)       # False, because 50 is not in the list
print(50 not in my_list)   # True, because 50 is not in the list

True
False
True

In [44]:
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2

1 is 1 True
1 is not 2 True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\DELL\AppData\Local\Temp\ipykernel_5036\1091766753.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\DELL\AppData\Local\Temp\ipykernel_5036\1091766753.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2

In [45]:
print('a in Sairushi :', 'a' in 'Sairushi') # True - A found in the string
print('B in Iron Man :', 'B' in 'Ironman') # False - there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
# print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

a in Sairushi : True
B in Iron Man : False
True
a in an: True

# Logical Operators in Python

Python uses the keywords `and`, `or`, and `not` for logical operations. Logical operators are used to combine conditional statements and return a boolean value (`True` or `False`).

| **Operator** | **Description**                          | **Example**                          |
|--------------|------------------------------------------|--------------------------------------|
| `and`        | Returns `True` if both conditions are `True` | `(x > 5 and x < 10)` → `True`       |
| `or`         | Returns `True` if at least one condition is `True` | `(x > 5 or x < 3)` → `True`       |
| `not`        | Reverses the boolean value of the condition | `not(x > 5)` → `False`             |

In [48]:
# Example of logical operators
x = 7
y = 12

# and operator
print(x > 5 and y < 15)  # True, because both conditions are True
print(x > 10 and y < 15) # False, because one condition is False
print(x > 10 and y >15 ) # False, because both condition are False

True
False
False

In [49]:
# or operator
print(x > 5 or y > 15)   # True, because one condition is True
print(x < 5 or y > 15)   # False, because both conditions are False

True
False

In [50]:
# not operator
print(not(x > 5))        # False, because x > 5 is True, and not reverses it
print(not(x > 10))       # True, because x > 10 is False, and not reverses it

False
True

In [52]:
# 1. Declare your age as integer variable
x = 22  
print("age is ",type(x))

# 2. Declare your height as a float variable
y = 178.6
print('Height is ',type(y))

# 3.Declare a variable that store a complex number
z = complex(2,3)
print(z,'is ',type(z))

age is  <class 'int'>
Height is  <class 'float'>
(2+3j) is  <class 'complex'>

In [53]:
# 4. Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).
height = int(input('Enter height Measurement :'))
base = int(input('Enter base Measurement :'))
print('Area of Triangle is :',0.5 * height * base, 'sq. unit')

Enter height Measurement : 10
Enter base Measurement : 20

Area of Triangle is : 100.0 sq. unit

In [54]:
# 5. Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c)
a = int(input('Enter side a: '))
b = int(input('Enter side b: '))
c = int(input('Enter side c: '))
print('The perimeter of the triangle is :',a + b + c)

Enter side a:  5
Enter side b:  4
Enter side c:  3

The perimeter of the triangle is : 12

In [55]:
# 6. Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
l = int(input('Enter the length of rectangle :'))
b = int(input('Enter the breadth of rectangle :'))
print('Area of rectangle is :',l * b, '\nPerimeter of rectangle is :',2 * ( l + b )  )

Enter the length of rectangle : 20
Enter the breadth of rectangle : 8

Area of rectangle is : 160
Perimeter of rectangle is : 56

In [56]:
# 7. Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.
pi  = 3.14
r = int(input('Enter radius of circle :'))
print('Area of circle is :',pi * r * r,'\nCirsumference of circle is :',2 * pi * r)

Enter radius of circle : 7

Area of circle is : 153.86
Cirsumference of circle is : 43.96

In [57]:
# 8. Calculate the slope, x-intercept and y-intercept of y = 2x -2
# Slope-intercept form: y = mx + c
m = 2  # Slope
c = -2 # Y-intercept value
print("Slope (m):", m)

# Y-intercept: The point where x = 0
y_intercept = (0, c)
print("Y-Intercept:", y_intercept)

# X-intercept: The point where y = 0
# Solve for x when y = 0: 0 = mx + c => x = -c / m
x_intercept = (-c / m, 0)
print("X-Intercept:", x_intercept)

Slope (m): 2
Y-Intercept: (0, -2)
X-Intercept: (1.0, 0)

In [58]:
#9. Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)
(x1,y1) = (2,2)
(x2,y2) = (6,10)
m1 = (y2-y1) / (x2-x1)
print('Slope (m) is :',m1)
print('The Euclidean Distance between the two points is :',( (y2-y1)**2 + (x2-x1)**2) **(1/2))

Slope (m) is : 2.0
The Euclidean Distance between the two points is : 8.94427190999916

In [59]:
# 10. Compare the slopes in tasks 8 and 9.
m1==m   # Both are same

True

In [60]:
# 11. Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.
def calculate_y(x):
    return x**2 + 6*x + 9

for x in range(-5,5):
    if calculate_y(x) == 0 :
        print(f"for x = {x} the value of y is 0")

for x = -3 the value of y is 0

In [61]:
# 12. Find the length of 'python' and 'dragon' and make a falsy comparison statement.
word1 = "python"
word2 = "dragon"

len_word1 = len(word1)
len_word2 = len(word2)

print(f"Length of '{word1}':", len_word1)
print(f"Length of '{word2}':", len_word2)

comparison = len_word1 > len_word2  # This will be False as both lengths are the same
print("Is the length of 'python' greater than 'dragon'?", comparison)

Length of 'python': 6
Length of 'dragon': 6
Is the length of 'python' greater than 'dragon'? False

In [62]:
# 13. Use and operator to check if 'on' is found in both 'python' and 'dragon'
word1 = "python"
word2 = "dragon"

print( 'on' in 'python' and 'on' in 'dragon')    # It is found in both strings

True

In [63]:
# 14. I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.
sentence='I hope this course is not full of jargon.'
print('is jargon in the sentence :','jargon' in sentence)

is jargon in the sentence : True

In [64]:
# 15. 
print( 'on' in 'python' and 'on' in 'dragon')    # It is found in both strings

True

In [65]:
# 16. Find the length of the text python and convert the value to float and convert it to string
word1='python'

len_word=float(len(word1))

str1=str(len_word)
print(type(len_word))
print(type(str1))

<class 'float'>
<class 'str'>

In [66]:
# 17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?
num = int(input('Enter the number :'))
if num % 2 == 0:
    print(f"The number {num} is a even number.")
else :
    print(f"The number {num} is odd number.")

Enter the number : 17

The number 17 is odd number.

In [67]:
# 18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
result=7//3
val1=2.7
print("Is the floor division of 7 by 3 equal to the int converted value of 2.7?\n",result==val1)

Is the floor division of 7 by 3 equal to the int converted value of 2.7?
 False

In [68]:
# 19. Check if type of '10' is equal to type of 10
# Compare types of '10' and 10
comparison = type('10') == type(10)

# Print the result of the comparison
print("Is the type of '10' equal to the type of 10?\n",comparison)

Is the type of '10' equal to the type of 10?
 False

In [69]:
# 20. Check if int('9.8') is equal to 10
# Convert '9.8' to a float, then to an integer
comparison = int(float('9.8')) == 10

# Print the result of the comparison
print("Is int('9.8') equal to 10?\n", comparison)

Is int('9.8') equal to 10?
 False

In [70]:
# 21. Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?
hours = int(input('Enter hours: '))
rate = int(input('Enter rate per hour: '))
print('Your weekly earning is :', hours * rate )

Enter hours:  40
Enter rate per hour:  10000

Your weekly earning is : 400000

In [71]:
# 22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years
years_lived = int(input("Enter number of years you have lived: "))

# Assume a year has 365 days (ignoring leap years for simplicity)
seconds_in_a_day = 86400  # 24 hours * 60 minutes * 60 seconds
seconds_lived = years_lived * 365 * seconds_in_a_day

print(f"You have lived for {seconds_lived} seconds.")

Enter number of years you have lived:  22

You have lived for 693792000 seconds.

In [72]:

# Loop through rows 1 to 5
for i in range(1, 6):
    # Calculate the powers of i from i^0 to i^4 and print each value
    for j in range(5):
        print(i**j, end=" ")  # Print without newline, separate by space
    print()  # Move to the next line after each row

1 1 1 1 1
1 2 4 8 16
1 3 9 27 81
1 4 16 64 256
1 5 25 125 625