### Typecasting in python
The conversion of one data type into the other data type is known as type casting in python or type conversion in python.

Python supports a wide variety of functions or methods like: int(), float(), str(), ord(), hex(), oct(), tuple(), set(), list(), dict(), etc. for the type casting in python.

### Two Types of Typecasting:
1. Explicit Conversion (Explicit type casting in python)
2. Implicit Conversion (Implicit type casting in python).

### 1. Implicit Typecasting
Python automatically converts a smaller data type to a larger one to avoid data loss.

Data types in Python do not have the same level i.e. ordering of data types is not the same in Python.

Some of the data types have higher-order, and some have lower order. While performing any operations on variables with different data types in Python, one of the variable's data types will be changed to the higher data type. 

According to the level, one data type is converted into other by the Python interpreter itself (automatically). This is called, **implicit typecasting** in python.

In [4]:
# Implicit Typecasting
a = 5       # Integer
b = 3.2     # Float

result = a + b  # Integer is automatically converted to Float
print(result)   # Output: 8.2
print(type(result))  # Output: <class 'float'>

8.2
<class 'float'>

### 2. Explicit Typecasting
The conversion of one data type into another data type, done via developer or programmer's intervention or manually as per the requirement, is known as **explicit type conversion**.

Explicit typecasting is done by using Python's built-in type conversion functions. The commonly used functions are:

#### a. int()
Converts a value to an integer. Non-numeric strings and values like None will raise an error.

In [9]:
# Converting Float to Integer
num = 3.9
print(int(num))  # Output: 3

# Converting String to Integer
string_num = "42"
print(int(string_num))  # Output: 42

3
42

#### b. float()
Converts a value to a floating-point number.

In [11]:
# Converting Integer to Float
num = 7
print(float(num))  # Output: 7.0

# Converting String to Float
string_num = "3.14"
print(float(string_num))  # Output: 3.14

7.0
3.14

#### c. str()
Converts a value to a string.

In [13]:
# Converting Number to String
num = 42
print(str(num))  # Output: '42'

# Converting Boolean to String
boolean = True
print(str(boolean))  # Output: 'True'

42
True

#### d. bool()
Converts a value to a Boolean (True or False).

In [15]:
# Converting Numbers to Boolean
print(bool(1))  # Output: True
print(bool(0))  # Output: False

# Converting Strings to Boolean
print(bool("Hello"))  # Output: True
print(bool(""))       # Output: False

True
False
True
False

#### e. list()
Converts an iterable (like a string, tuple, or set) to a list.

In [17]:
# Converting String to List
text = "Python"
print(list(text))  # Output: ['P', 'y', 't', 'h', 'o', 'n']

# Converting Tuple to List
tup = (1, 2, 3)
print(list(tup))  # Output: [1, 2, 3]

['P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

#### f. tuple()
Converts an iterable to a tuple.

In [19]:
# Converting List to Tuple
lst = [1, 2, 3]
print(tuple(lst))  # Output: (1, 2, 3)

(1, 2, 3)

#### g. set()
Converts an iterable to a set (removes duplicates).

In [21]:
# Converting List to Set
lst = [1, 2, 2, 3]
print(set(lst))  # Output: {1, 2, 3}

{1, 2, 3}

#### h. dict()
Converts a sequence of key-value pairs into a dictionary.

In [23]:
# Converting List of Tuples to Dictionary
pairs = [("a", 1), ("b", 2)]
print(dict(pairs))  # Output: {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [24]:
x=[('Name','Sairushi'),('Birth Date','21-01-2002')]
y=dict(x)
y

{'Name': 'Sairushi', 'Birth Date': '21-01-2002'}