### Creating a Tuple
A tuple is created using parentheses `()` and can store elements of different data types.

In [2]:
# Empty tuple
t1 = ()

# Tuple with integers
t2 = (1, 2, 3)

# Tuple with mixed data types
t3 = (1, "Hello", 3.14)

# Tuple with nested tuples
t4 = (1, (2, 3), (4, 5))

# Tuple without parentheses (Implicit tuple)
t5 = 1, 2, 3

### Single Element Tuple
A single-element tuple must have a **trailing comma**; otherwise, it is considered a simple variable.

In [4]:
t_single = (5,)  # Tuple with one element
t_not_tuple = (5)  # This is just an integer
print(type(t_single))
print(type(t_not_tuple))

<class 'tuple'>
<class 'int'>

### Accessing Tuple Elements
Elements can be accessed using **indexing and slicing**.

In [6]:
t = (10, 20, 30, 40, 50)

# Accessing elements by index
print(t[0])   # Output: 10
print(t[-1])  # Output: 50 (last element)

# Slicing a tuple
print(t[1:4])  # Output: (20, 30, 40)
print(t[:3])   # Output: (10, 20, 30)
print(t[::2])  # Output: (10, 30, 50)

10
50
(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

### Tuple Concatenation
Tuples can be combined using the `+` operator.

In [8]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

### Tuple Repetition
A tuple can be repeated using the `*` operator.

In [10]:
t = (1, 2, 3)
print(t * 3)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Checking Membership
Use the `in` keyword to check if an element exists in a tuple.

In [12]:
t = (1, 2, 3, 4, 5)
print(3 in t)  # Output: True
print(10 in t) # Output: False

True
False

### Iterating Over a Tuple
Using a `for` loop:

In [14]:
t = ("apple", "banana", "cherry")
for item in t:
    print(item)

apple
banana
cherry

# Advanced Tuple Operations
### Tuple Unpacking
Tuple elements can be assigned to variables directly.

In [16]:
t = (1, 2, 3)
a, b, c = t
print(a, b, c)  # Output: 1 2 3

1 2 3

**Ignoring elements with `_`**

In [18]:
t = (10, 20, 30, 40)
a, _, _, d = t
print(a, d)  # Output: 10 40

10 40

**Using `*` to capture multiple elements**

In [20]:
t = (1, 2, 3, 4, 5)
a, *b, c = t
print(a)  # Output: 1
print(b)  # Output: [2, 3, 4]
print(c)  # Output: 5

1
[2, 3, 4]
5

### Finding the Length of a Tuple

In [22]:
t = (1, 2, 3, 4, 5)
print(len(t))  # Output: 5

5

### Finding Maximum, Minimum, and Sum

In [24]:
t = (10, 20, 30, 40, 50)
print(max(t))  # Output: 50
print(min(t))  # Output: 10
print(sum(t))  # Output: 150

50
10
150

### Counting Elements in a Tuple
The `.count()` method counts the occurrences of a value.

In [26]:
t = (1, 2, 3, 2, 4, 2)
print(t.count(2))  # Output: 3

3

### Finding an Element's Index
The `.index()` method returns the first occurrence of a value.

In [28]:
t = (10, 20, 30, 40, 50)
print(t.index(30))  # Output: 2

2

### When to Use Tuples?
-  When you **don't want elements to change** (immutability ensures data integrity).

-  When you need **faster performance** than lists.

-  When using **dictionary keys** (tuples can be used, but lists cannot).

## Converting Between Tuples and Lists
### Convert List to Tuple

In [31]:
lst = [1, 2, 3, 4]
t = tuple(lst)
print(t)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

### Convert Tuple to List

In [33]:
t = (1, 2, 3, 4)
lst = list(t)
print(lst)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [34]:
# Tuple to List
t = (1, 2, 3)
lst = list(t)
lst.append(4)
t = tuple(lst)  # Convert back to tuple
print(t)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

### Nested Tuples and Accessing Elements
Tuples can be nested within each other.

In [36]:
t = ((1, 2), (3, 4), (5, 6))

# Accessing elements in nested tuple
print(t[0])     # Output: (1, 2)
print(t[0][1])  # Output: 2

(1, 2)
2

### Sorting a Tuple
Tuples are immutable, so they cannot be sorted directly. However, they can be converted into a list, sorted, and converted back.

In [38]:
t = (3, 1, 4, 2)
sorted_t = tuple(sorted(t))
print(sorted_t)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

### Using Tuples as Dictionary Keys
Since tuples are immutable, they can be used as keys in dictionaries.

In [40]:
coordinates = {
    (10, 20): "Point A",
    (30, 40): "Point B"
}

print(coordinates[(10, 20)])  # Output: Point A

Point A

### Using `zip()` with Tuples

In [42]:
names = ('Alice', 'Bob', 'Charlie')
scores = (85, 90, 78)
combined = tuple(zip(names, scores))
print(combined)  # Output: (('Alice', 85), ('Bob', 90), ('Charlie', 78))

(('Alice', 85), ('Bob', 90), ('Charlie', 78))

### Using `namedtuple` for Readable Tuples
Python provides `namedtuple` from the `collections` module for more readable tuples.

In [44]:
from collections import namedtuple

# Creating a named tuple
Person = namedtuple("Person", ["name", "age", "gender"])

# Creating an instance
p = Person(name="Alice", age=25, gender="Female")

# Accessing elements
print(p.name)   # Output: Alice
print(p.age)    # Output: 25

Alice
25

| Feature      | Tuple        | List         |
|-------------|-------------|-------------|
| **Mutability** | Immutable  | Mutable     |
| **Syntax**    | `(1, 2, 3)` | `[1, 2, 3]` |
| **Performance** | Faster    | Slower      |
| **Memory Usage** | Less     | More        |
| **Use Case**  | Fixed data | Dynamic data |